@import "../../styles/colors.scss";

* {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $background;
}

input[type='password'],
input[type='email'] {
    border: 1px solid $primaryLight;
    border-radius: 4px;
    line-height: 40px;
    padding: 0px 40px 0px 8px;
    &:focus {
            outline-color: $primaryLight;
    }
}

button {
    background-color: $primary;
    color: $white;
    line-height: 60px;
    border-radius: 8px;
    font-size: 16px;
    border: none;
    &:hover {
        opacity: 0.7;
    }
}



.login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    

    .form {
        background-color: $white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: center;
        padding: 25px;
        width: 500px;
        border-radius: 8px;
        box-shadow: 0px 1px 3px -1px $black;
        
        h2 {
            color: $primary;
            text-align: center;
            text-transform: uppercase;
            font-size: 20px;
        }

        .submit {
            margin-top: 32px;
        }

        .link {
            text-align: center;
            color: $primary;
            text-transform: lowercase;
            margin-top: 16px;
            cursor: pointer;

            &:hover{
                text-decoration: underline;
            }
        }

        .errorWrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 120px;

            .spinner {
                margin-top: 15px;
            }
            .error {
                margin-top: 15px;
                color: $primaryLight
            }
        }
    }

}