@import "../../styles/colors.scss";

.errorWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 120px;

    .spinner {
        margin-top: 15px;
    }

    .error {
        margin-top: 15px;
        color: $primaryLight
    }
}